body {
  background: #454545;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

a, body {
  color: #eee;
}

.side-bar {
  float: left;
  width: 20%;
  position: fixed;
}

.side-bar > * {
  padding: 10px 15px;
}

.side-bar .nav a,
.side-bar .tag-list a {
  display: block;
  padding: 5px;
  color: #888;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
  color: #eee;
}

.side-bar .nav a {
  font-weight: 700;
}

.main {
  float: right;
  width: 80%;
  color: #454545;
}

.header .logo {
  line-height: 1;
  border: 5px solid #eee;
  padding: 10px 20px;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 10px;
}

.article-list, .article {
  margin-right: 30%;
  background: #fff;
  padding: 20px 30px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
  box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
}

.article-list .item  {
  margin-bottom: 25px;
}

.article-list .item .title,
.article .title {
  color: #454545;
  font-size: 22px;
  font-weight: 700;
}

.article-list .item .status,
.article .status {
  font-size: 13px;
  color: #ccc;
}

.article-list .item > *,
.article > * {
  margin: 10px 0;
}
